html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#canvas_main {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: 5px solid #333;
}

.controls {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}

.controls,
select,
option {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
